@page "/view/mpr"
@model MergedPullRequestsModel

<form method="get">
  <div class="form-group">
    <label>Query</label>
    <input name="q" type="text" class="form-control" value="@Model.QueryString">
  </div>
  <button class="btn btn-primary">Search</button>
</form>

<div>
    <label>Pass Rate @Model.PassRate</label>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="column">Pull Request</th>
            <th class="column">Merge Build</th>
            <th class="column">Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var build in Model.MergedPullRequestBuilds)
        {
            <tr>
                <td>@build.PullRequestNumber</td>
                <td>@build.BuildNumber</td>
                <td>Blah</td>
            </tr>
        }
    </tbody>
</table>
