@page
@model NewTrackingIssueModel
@{
    ViewData["Title"] = "Create Triage Issue";
}

<form method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Title</label>
        <input class="col-sm-10 form-control" type="text" asp-for="IssueTitle" />
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Definition</label>
        <input class="col-sm-10 form-control" type="text" asp-for="Definition" />
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label"for="searchKind">Search Text</label>
        <input class="col-sm-10 form-control" type="text" asp-for="SearchText" />
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label"for="searchKind">Search Kind</label>
        <select class="col-sm-10 form-control" asp-for="TrackingKind" asp-items="Html.GetEnumSelectList<DevOps.Util.DotNet.Triage.TrackingKind>()">
            <option value="">Select a kind</option>
        </select>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label"for="searchKind">GitHub Organization</label>
        <input class="col-sm-10 form-control" type="text" asp-for="GitHubOrganization" />
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label"for="searchKind">GitHub Repository</label>
        <input class="col-sm-10 form-control" type="text" asp-for="GitHubRepository" />
    </div>

    <button type="submit" class="btn btn-primary mr-2">Create</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
      @Model.ErrorMessage
    </div>
}

