@page "/search/build-logs"
@model BuildLogsModel

<h1>In the build logs</h1>
@foreach (var identity in User.Identities)
{
    <p>@identity.Name</p>
}

@foreach (var result in Model.BuildLogs)
{
    <a href="@result.BuildLogReference.Url">@result.Line</a>
}
