@page
@using Octokit
@{
    ViewData["Title"] = "Runfo";
}

<div>
    <h1>Welcome to Runfo</h1>
    <p>This is a tool for inspecting infrastructure issues across the <a href="https://github.com/dotnet">dotnet</a> organization</p>
</div>

<div>
    <h1>Search Options</h1>
    <p>Make sure to take a look at the <a asp-page="/SearchDoc">search syntax</a></p>
    <ul class="list-group">
        <li class="list-group-item"><a asp-page="Search/Tests">Search Tests</a></li>
        <li class="list-group-item"><a asp-page="Search/Timelines">Search Timelines</a></li>
        <li class="list-group-item"><a asp-page="Search/Builds">Search Builds</a></li>
        <li class="list-group-item"><a asp-page="Search/HelixLogs">Search Helix Logs</a></li>
    </ul>

    <h1 class="mt-2">View Results</h1>
    <ul class="list-group">
        <li class="list-group-item"><a asp-page="View/Build">Build Information</a></li>
        <li class="list-group-item"><a asp-page="View/Definition">Defintion Health</a></li>
        <li class="list-group-item"><a asp-page="View/PullRequest">Pull Request Builds</a></li>
        <li class="list-group-item"><a asp-page="View/MergedPullRequests">Merged Pull Requests</a></li>
    </ul>

    <h1 class="mt-2">Tracking Issues</h1>
    <ul class="list-group">
        <li class="list-group-item"><a asp-page="Tracking/Index">Tracking Issues</a></li>
        <li class="list-group-item"><a asp-page="Tracking/New">New Tracking Issue</a></li>
    </ul>
</div>

