@page
@using Octokit
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    void DumpTable(string title, List<Issue> issues)
    {
        var items = new List<(string TypeName, string TypeClass, Issue Issue)>();
        foreach (var issue in issues)
        {
            string typeName = "Blocking";
            string typeClass = "badge badge-danger";
            if (issue.Labels.Any(x => x.Name == "intermittent"))
            {
                typeName = "Warning";
                typeClass = "badge badge-warning";
            }
            items.Add((typeName, typeClass, issue));
        }

        <h3>@title</h3>
        <ul class="list-group">
        @foreach (var tuple in items)
        {
            <li class="list-group-item">
                <span class="@tuple.TypeClass">@tuple.TypeName</span>
                <a href=@tuple.Issue.HtmlUrl>@tuple.Issue.Title</a>
            </li>
        }
        </ul>
    }

    DumpTable("Official Builds", Model.BlockingOfficial);
    DumpTable("CI Builds", Model.BlockingNormal);
    DumpTable("CI Optional Builds", Model.BlockingNormalOptional);
    DumpTable("Outerloop", Model.BlockingOuterloop);
}