@page
@using Octokit
@{
    ViewData["Title"] = "Runfo";
}

<div>
    <ul class="list-group">
        <li class="list-group-item"><a asp-page="search/builds">Search Builds</a></li>
        <li class="list-group-item"><a asp-page="search/tests">Search Tests</a></li>
        <li class="list-group-item"><a asp-page="view/jobs">View Jobs</a></li>
    </ul>
</div>

