@page
@using Octokit
@{
    ViewData["Title"] = "Runfo";
}

<div>
    <h1>Welcome to Runfo</h1>
    <p>This is a tool for inspecting infrastructure issues across the <a href="https://github.com/dotnet">dotnet</a> organization</p>
</div>

<div>
    <p>Quick Actions</p>
    <ul class="list-group">
        <li class="list-group-item"><a asp-page="search/tests">Search Tests</a></li>
        <li class="list-group-item"><a asp-page="search/timelines">Search Timelines</a></li>
        <li class="list-group-item"><a asp-page="search/builds">Search Builds</a></li>
        <li class="list-group-item"><a asp-page="view/jobs">View Jobs</a></li>
    </ul>
</div>

