@page
@using Octokit
@model IndexModel
@{
    ViewData["Title"] = "Build Search";
}

<div>
    <form method="post">
        <input asp-for="BuildSearch" /><button>Search</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="column">Result</th>
            <th scope="column">Build</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var build in @Model.Builds)
        {
            <tr>
                <td>@build.Result</td>
                <td><a href=@build.BuildUri>@build.BuildNumber</a></td>
            </tr>
        }
    </tbody>
</table>
