@page "/search-doc"


<h1>Build Search</h1>

<p>These are the various ways in which you can restrict the set of builds that are searched. This is used in both build searches as well as timeline and tests queries</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="column">Qualifier</th>
            <th class="column">Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="font-weight-bold">definition:runtime</td>
            <td>Filter to builds against the build definition named <a href="https://dnceng.visualstudio.com/public/_build?definitionId=686">runtime</a></td>
        </tr>
        <tr>
            <td class="font-weight-bold">definition:15</td>
            <td>Filter to builds against the build befinition with id 15 (in this case <a href="https://dnceng.visualstudio.com/public/_build?definitionId=15">roslyn</a>)</td>
        </tr>
        <tr>
            <td class="font-weight-bold">kind:rolling</td>
            <td>Filter to rolling builds only. Valid options are rolling, pullrequest and mergedpullrequest</td>
        </tr>
        <tr>
            <td class="font-weight-bold">count:50</td>
            <td>Filter the result to 50 builds. Most pages default to 10</td>
        </tr>
    </tbody>
</table>

<h1>Timeline Search</h1>

<p>These are the various ways in which you can restrict the timeline issues returned</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="column">Qualifier</th>
            <th class="column">Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="font-weight-bold">text:.*error</td>
            <td>Filters to the logs where issue message matches .*error</td>
        </tr>
        <tr>
            <td class="font-weight-bold">type:error</td>
            <td>Filters to error issues only. Valid options are warning and error</td>
        </tr>
        <tr>
            <td class="font-weight-bold">limit:200</td>
            <td>By default only the first 100 logs will be searched. Can be increased but be mindful of exceeding Azure rate limiting.</td>
        </tr>
    </tbody>
</table>

<h1>Build Log Search</h1>

<p>These are the various ways in which you can restrict the set of log files</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="column">Qualifier</th>
            <th class="column">Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="font-weight-bold">logName:.*build</td>
            <td>Filters to the logs where the name matches the regex ".*build"</td>
        </tr>
        <tr>
            <td class="font-weight-bold">text:.*StackOverflow</td>
            <td>Filters to the logs where the text matches the regex ".*StackOverflow"</td>
        </tr>
        <tr>
            <td class="font-weight-bold">limit:200</td>
            <td>By default only the first 100 logs will be searched. Can be increased but be mindful of exceeding Azure rate limiting.</td>
        </tr>
    </tbody>
</table>


<h1>Helix Log Search</h1>

<p>These are the various ways in which you can restrict the set of log files</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="column">Qualifier</th>
            <th class="column">Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="font-weight-bold">logKind:console</td>
            <td>Can be console, runclient or testresults. Restricts the log kinds that are searched</td>
        </tr>
        <tr>
            <td class="font-weight-bold">text:.*StackOverflow</td>
            <td>Filters to the logs where the text matches the regex ".*StackOverflow"</td>
        </tr>
        <tr>
            <td class="font-weight-bold">limit:200</td>
            <td>By default only the first 100 logs will be searched. Can be increased but be mindful of exceeding Helix rate limiting.</td>
        </tr>
    </tbody>
</table>



